
.modal-open .modal, .btn:focus, a:focus {
  outline: none !important; 
}

.modal .modal-content {
  width: 265px;
  margin: auto; 
}

.btn-success {
  background-color: rgba(255, 255, 255, 0.5);
  /* medium blue */
  border-color: #ffffff;
  /* medium blue */ 
}

.btn-success:hover {
  color: #fff;
  background-color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
  /* medium blue */ 
}

body {
    background-color: rgba(128, 128, 230, 0.5);
}

.navbar.navbar-default {
    background-color: #010C22;
}

.navbar.navbar-default > .navbar-header > h1 {
    color: white;
    padding-left: 25px;
}

.navbar-default .navbar-nav > li > a:link {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
    color: dimgrey;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:visited {
    color: darkred;
    font-weight: bold;
}

#pnlBookingForm {
     padding-left: 10px;
     padding-top: 10px;
 }

 sup {
     color: red;
 }


